* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    background-color: rgb(87,189,130);
    transition: background 0.5s ease;
    height: 90vh;
    display: block !important;
    position: relative !important;
}

.mesaj {
    position: absolute;
    background-color: rgb(189,87,87);
    font-weight: bold;
    font-size: 20px;
    color: #f48d16;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 30px;
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.iconUser,
.iconArrow,
.iconPassword {
    width: 28px;
    height: 28px;
    margin: 5px;
    cursor: pointer;
}


.field-name,
.field-password {
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s ease;
}

div.innactive {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%);
}

div.active {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%,-50%);
}

Image.innactive {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%);
}

Image.active {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%,-50%);
}

.input {
    background: none;
    border: none;
    flex: 1;
    height: 100%;
    outline: none;
}



/*image Box*/

body {
    font-family: sans-serif;
    background-color: #eeeeee;
}

.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

    .file-upload-btn:hover {
        background: #1AA059;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    .file-upload-btn:active {
        border: 0;
        transition: all .2s ease;
    }

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
}

    .image-dropping,
    .image-upload-wrap:hover {
        background-color: #1FB264;
        border: 4px dashed #ffffff;
    }

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

    .drag-text h3 {
        font-weight: 100;
        text-transform: uppercase;
        color: #15824B;
        padding: 60px 0;
    }

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

    .remove-image:hover {
        background: #c13b2a;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    .remove-image:active {
        border: 0;
        transition: all .2s ease;
    }


.kayitOl {
    border: 2px solid #077d19;
    background-color: #ededed;
    position: relative;
    top: 69%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    width: 154px;
    height: 63px;
    cursor: default;
}

    .kayitOl:hover {
        background-color: #cdd5ca;
        border: 2px dashed #96f184;
    }

        .kayitOl:hover .kayitBtn {
            background-color: #aedcab;
            border: 2px dashed #c13b2a;
            border-radius: 5px;
        }

.kayit {
    position: relative;
    left: 28%;
}

.kayitBtn {
    margin-left: 0px;
    position: relative;
    left: 0px;
    margin-top: 2%;
    margin-bottom: 13px;
}

/*profil Kısmı*/

.content {
    background: rgb(241 255 178);
}

.myProfileForm {
    transition: background 0.5s ease;
    height: 90vh;
    display: block !important;
    position: relative !important;
    background: rgb(241 255 207);
    border: 5px dotted black;
    margin: 0 auto !important;
    width: 50%;
}

.avatarSol {
    display: block;
    position: absolute;
    left: 10px;
    top: 40px;
    width: 350px;
    height: max-content;
    line-height: 50px;
    padding-top: 220px;
}

.avatarSag {
    display: block;
    padding-left: 8px;
    position: absolute;
    padding-top: 220px;
    left: 489px;
    top: 40px;
    width: max-content;
    height: 470px;
    line-height: 50px;
}


.field-id {
    color: red;
}

.avatarLabels {
    color: blue;
    margin-left: 0%;
    transform: translate(-50%,-50%);
}

.lblId {
    margin-left: 25% !important;
}

.lblUsername {
    margin-left: 4% !important;
}

.lblMail {
    margin-left: 16.4% !important;
}

.lblBakiye {
    margin-left: 15.5% !important;
}

.txtIsim {
    margin-left: 60px;
}

.txtSoyad {
    margin-left: 35px;
}

.txtPassword {
    margin-left: 48px;
}

.txtPasswordY {
    margin-left: 14px;
}

.field-Kaydet {
    margin: 0 auto;
    position: relative;
    text-align: center;
}


.field-avatar {
    position: relative;
    width: max-content;
}

.myAvatar {
    position: absolute;
    left: 220px;
    top: -260px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #c5c054;
}

.avatarDegistir {
    position: absolute;
    left: 220px;
    top: -260px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #c5c054;
    opacity: 0;
    cursor: pointer;
}

    .avatarDegistir:hover  .myAvatar {
        border:20px solid blue !important;
        background-color: aqua !important;
    }

.imgBtnKaydet {
    width: 30px;
    height: 30px;
    margin-left: -500px;
    margin-top: 100px;
}
